<% if (blogs.length) { %>
    <% for( let blog = 0; blog < blogs.length; blog++ ) { %>
    <h1><a href="/blogs/<%= blogs[blog]._id  %>"><%= blogs[blog].title %></a></h1>
    <p><%= blogs[blog].intro %></p>
    <form action="blogs/<%- blogs[blog]._id  %>/delete" method="post"><button type="submit" class="blog-delete-btn">delete</button></form>
    <% } %>
<% } else { %>
    <h1>No blogs to show</h1>
 <% } %>