
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

nav {
  background-color: lightgreen;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

nav h1 a {
  font-size: 22px;
}

nav a {
  color: white;
  margin: 0 20px;
  font-size: 18px;
}

nav a:hover {
  color: green;
}

.container {
  margin: 20px;
}

.blog-card {
  margin: 20px 0;
}

/* blog create page css */
.blog-form {
  max-width: 800px;
  margin: auto;
  border: 1px solid lightgreen;
  padding: 40px;
}

.blog-form h1 {
  color: green;
}

.form-group {
  margin: 10px 0;
}
.form-group label {
  font-size: 18px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid green;
}

.blog-create-btn {
  background-color: green;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid green;
  color: white;
}
.blog-delete-btn {
  background-color: red;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid red;
  color: white;
}